.services{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .service-heading{

        h1{
            font-size: 120px;
            line-height: 140px;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: rgb(255, 255, 255);
            font-weight: 500;
            margin: 0 auto;
            text-align: end;
            align-items: center;
            img{
                width: 200px;
                border-radius: 50%;
            }
            span{
            }
        }
    }
}
